{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4"
     xmlns="http://www.w3.org/1999/html"></div>
<div class="row">
    <div class="col-12 col-xl-8">
        <!--        Account settings-->
        <div class="card card-body border-0 shadow mb-4">
            <div class="col-12 col-xl-4">
                <div class="row">
                    <div class="col-12 mb-4 text-center p-0">
                        <div class="profile-cover rounded-top "
                             data-background="/static/assets/img/profile-cover.jpg"></div>
                        <div class="card-body">
                            <img src="/static/assets/img/team/profile-picture-1.jpg"
                                 class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                            <h4 class="h3">
                                First & Last name
                            </h4>
                            <p class="text-gray mb-4">
                                {{ request.user.username }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="h5 mb-4">Account settings</h2>
            <hr>
            <form>
                <div class="row">

                    <div class="col-md-6 mb-3">
                        <fieldset disabled>
                            <div>
                                <label for="username">Username</label>
                                <input class="form-control" id="username" type="text"
                                       placeholder="{{ request.user.username }}" readonly>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="reset_password">Reset password?</label>
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="reset">Reset password</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" id="email" type="email" placeholder="name@company.com"
                                   value="{{ request.user.email }}" readonly>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Save</button>
                </div>
            </form>
        </div>
        <!--        Alerts & Notifications-->
        <div class="card card-body border-0 shadow mb-4 mb-xl-0">
            <h2 class="h5 mb-4">Alerts & Notifications</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">Company News</h3>
                        <p class="small pe-4">Get Rocket news, announcements, and product updates</p>
                    </div>
                    <div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="user-notification-1">
                            <label class="form-check-label" for="user-notification-1"></label>
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">Account Activity</h3>
                        <p class="small pe-4">Get important notifications about you or activity you've missed</p>
                    </div>
                    <div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="user-notification-2" checked>
                            <label class="form-check-label" for="user-notification-2"></label>
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                    <div>
                        <h3 class="h6 mb-1">Meetups Near You</h3>
                        <p class="small pe-4">Get an email when a Dribbble Meetup is posted close to my location</p>
                    </div>
                    <div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="user-notification-3" checked>
                            <label class="form-check-label" for="user-notification-3"></label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!--        Portfolio Settings-->
        <div class="card card-body border-0 shadow mb-4 mb-xl-0">
            <h2 class="h5 mb-4">Portfolio settings</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">Percent Holdings</h3>
                        <p class="small pe-4">blah blah</p>
                    </div>

                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">Hide small balances</h3>
                        <p class="small pe-4">Do not show portfolio items worth less than 0.0001 BTC in total.</p>
                    </div>

                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">Hide unidentified balances</h3>
                        <p class="small pe-4">Get Rocket news, announcements, and product updates</p>
                    </div>

                </li>

            </ul>
        </div>
        <!--        Preferences-->
        <div class="card card-body border-0 shadow mb-4 mb-xl-0">
            <h2 class="h5 mb-4">Preferences</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">Fiat</h3>
                    </div>

                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">

                    <div>
                        <h3 class="h6 mb-1">Timezone</h3>
                    </div>
                </li>

            </ul>
        </div>
    </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
