<script src="https://kit.fontawesome.com/6bf241837e.js" crossorigin="anonymous"></script>

    <footer class="footer py-6 bg-gray-800 text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="navbar-brand-dark mb-4" height="35" src="/static/assets/img/brand/tueor_logo.png" alt="Logo light">
                    <p>Tueor is a crypto portfolio...thing.</p>
                    <ul class="social-buttons mb-5 mb-lg-0">
                        <li>
                            <a href="https://twitter.com/" aria-label="twitter social link" class="icon-white me-2">
                                <span class="fab fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com//" class="icon-white me-2" aria-label="facebook social link">
                                <span class="fab fa-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/dukhniav/tueor" aria-label="github social link" class="icon-white me-2">
                                <span class="fab fa-github"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://dribbble.com/" class="icon-white" aria-label="dribbble social link" >
                                <span class="fab fa-dribbble"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-5 mb-lg-0">
                    <span class="h5">Tueor</span>
                    <ul class="links-vertical mt-2">
                        <li><a target="_blank" href="about/">About Us</a></li>
                        <li><a target="_blank" href="contact/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-5 mb-lg-0">
                    <span class="h5">Other</span>
                    <ul class="links-vertical mt-2">
                        <li><a href="https://github.com/dukhniav/tueor#readme" target="_blank">Docs
                                <span class="badge badge-sm bg-secondary text-dark ms-2">v0.1</span></a></li>
                        <li><a href="" target="_blank">Changelog</a></li>
                        <li><a target="_blank" href="https://github.com/dukhniav/tueor/blob/main/LICENSE">License</a>
                        </li>
                        <li><a target="_blank" href="/contact/">Support</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 mb-5 mb-lg-0">
                    <span class="h5 mb-3 d-block">Subscribe</span>
<!--                    <form action="#">-->
<!--                        <div class="form-row mb-2">-->
<!--                            <div class="col-12">-->
<!--                                <input type="email" class="form-control mb-2" placeholder="example@company.com" name="email" aria-label="Subscribe form" required>-->
<!--                            </div>-->
<!--                            <div class="col-12 d-grid">-->
<!--                                <button type="submit" class="btn btn-secondary" data-loading-text="Sending">-->
<!--                                    <span>Subscribe</span>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
                    <p class="text-muted font-small m-0">Coming soon!</p>
                </div>
            </div>
            <hr class="bg-gray-700 my-5">
            <div class="row">
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <a href="/" target="_blank" class="d-flex justify-content-center" >
                        <img src="static/assets/img/logos/teuor_logo_2.png" height="35" alt="Tueor Logo">
                    </a>
                    <p class="fw-normal font-small mb-0">
                        &copy; Tueor - <span class="current-year">2022</span> - created by <a target="_blank" href="https://github.com/dukhniav">duke_nasty</a> with <i class="fas fa-heart"></i>.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>