{% extends 'layouts/base.html' %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link id="pagestyle" href="/static/assets/css/default.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

<main>
    <!--CTA-->
    <div class="container py-5">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <h1 class="display-4 font-weight-bold">Tueor</h1>
              <h5>Go ahead, gaze upon your moons!</h5>
              <a class="btn btn-primary btn-round" href="/login">Start</a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <img class="img-fluid rounded" src="/static/assets/img/illustrations/cta_1.png" alt="Cryptocurrency">
            </div>
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
              <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('/static/assets/img/curved-images/curved6.jpg')"></div>
            </div>
          </div>
        </div>
    </div>
</main>
{% endblock %}